# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.DS_Store


# data directory
data/*

# Intellij Idea workspace files
.idea/
*.iml

# VSCode workspace files
*.code-workspace

# Docker related files
Makefile
docker-compose.yml
.gitignore
dockerfile
